.content-wrapper {
  position: relative;
}

.navigation-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.navigation-list .selected {
  color: #03a9f4;
}

.navigation-icon {
  display: inline-block;
  margin: 4px 16px; 
  vertical-align: middle;
  width: 48px;
}